@media (max-width: 800px) {
  /*----HEADER----*/
  .logo {
    flex-basis: 25%;
  }

  .logo img {
    min-width: 120px;
  }

  .header {
    position: fixed;
    box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
    border-top: none;
    top: -5px;
    padding-bottom: 15px;
    padding-top: 20px;
  }

  .header-close {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.02);
    align-items: center;
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    text-align: right;
  }

  .nav-link {
    margin-right: 20px;
  }

  .nav-btn {
    margin-right: 5px;
  }

  .nav-close {
    flex-basis: 10%;
  }

  /*-----PROMO-----*/

  .promo-img {
    display: none;
  }

  .promo-box {
    padding-top: 80px;
    margin-top: -80px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  .promo-box:before {
    transform: translate(0, 65px);
  }

  .promo-title {
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  /*----CALCULATOR----*/

  .calculator-contacts,
  .calc-options {
    margin: auto;
    margin-bottom: 15px;
  }

  .calc-subtitle {
    display: none;
  }

  .adress-input {
    max-width: 90%;
    margin: auto;
    margin-bottom: 15px;
  }

  .calc-choice-loader,
  .calc-choice-rent,
  .calc-choice-time,
  .calc-choice-date,
  .calc-input-description {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 800px) {
  /*----HEADER----*/
  .header {
    height: 100px;
    padding: 0;
    background-color: transparent;
    margin: auto;
  }

  .logo {
    margin-top: 45px;
  }

  .nav {
    margin-top: 45px;
  }

  .nav-list {
    display: flex;
    margin: 0;
  }

  .nav-item {
    margin-right: 30px;
    margin-bottom: 0;
    font-size: 0.875rem;
  }

  .nav-link {
    color: $main-font-color;
    line-height: 36px;
  }

  .nav-tel {
    color: $main-font-color;
    line-height: 36px;
  }

  .nav-tel-mobile {
    display: none;
  }

  .nav-btn {
    line-height: 36px;
    padding: 0px 15px;
  }

  .nav-icon {
    display: none;
  }

  /*-----PROMO-----*/

  .promo-container {
    margin-top: 50px;
    max-width: 1350px;
  }

  .promo-box {
    flex: 0 0 550px;
  }

  /*----CALCULATOR----*/

  .calculator {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    justify-content: space-between;
  }

  .calc-title,
  .calc-subtitle {
    flex-basis: 100%;
    text-align: center;
  }

  .calculator-contacts,
  .calc-options {
    flex-basis: 48%;
    margin-bottom: 15px;
  }

  .calc-options {
    align-items: center;
  }

  .options-list {
    margin-right: 15px;
  }

  .adress-input {
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  .calc-choice-loader,
  .calc-choice-rent,
  .calc-choice-time,
  .calc-choice-date {
    flex-basis: 48%;
  }

  .form-btn {
    width: 40%;
    margin: auto;
    margin-bottom: 60px;
  }

  /*----STEPS----*/

  .steps-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps-title {
    margin-bottom: 45px;
  }

  .steps-list {
    display: flex;
    max-width: 1050px;
  }

  .steps-item {
    margin-right: 40px;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 33%;
  }

  .steps-number {
    font-size: 32px;
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
    margin-right: 0;
    line-height: 60px;
  }

  /*----LOYALTY----*/

  .loyalty-wrapper {
    max-width: 850px;
  }

  .loyalty-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .loyalty-item {
    flex-basis: 46%;
  }

  /*----FOOTER----*/

  .footer {
    max-width: 850px;
  }
}

@media (min-width: 520px) {
  /*----SERVICE----*/
  .service-list {
    display: flex;
    flex-wrap: wrap;
  }

  .service-item {
    flex-basis: 50%;
  }
}

@media (min-width: 767px) {
  /*----SERVICE----*/
  .service-container {
    max-width: 1350px;
    text-align: center;
  }

  .service-item {
    flex-basis: 23%;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .service-name {
    font-size: 20px;
  }

  .service-icon {
    margin-bottom: 20px;
    max-width: 80px;
    max-height: 80px;
  }
}

@media (min-width: 1100px) {
  /*----LOYALTY----*/

  .loyalty-wrapper {
    max-width: 1320px;
  }

  .loyalty-title {
    margin-top: 120px;
  }

  .loyalty-item {
    flex-basis: 25%;
    margin-right: 70px;
  }

  .loyalty-name {
    font-size: 20px;
  }

  .loyalty-text {
    font-size: 16px;
  }

  /*----FOOTER----*/

  .footer {
    max-width: 1320px;
  }
}
