.promo-container {
  margin-top: 70px;
  color: $main-font-color;
  font-family: $main-font-family;
  text-align: center;
  display: flex;
}

.promo-box {
  flex: 0 0 550px;
}

.promo-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.promo-title b {
  font-weight: 700;
}

.promo-subtitle {
  margin: auto;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  width: 80%;
}

.promo-text {
  margin: auto;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  color: #ee3b23;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.callback-form {
  max-width: 420px;
  text-align: center;
  margin: auto;
}

.input-phone {
  width: 100%;
  padding: 18px 18px 13px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-phone-lable {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.input-phone-number {
  background-color: transparent;
  border: none;
}

.callback-btn {
  background-color: #ee3b23;
  transition: background-color 0.3s ease-in;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
  border: none;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 400;
  color: $btn-font-color;
  padding: 24px;
  width: 100%;
}

@media (max-width: 800px) {
  .promo-img {
    display: none;
  }
}

@media (min-width: 800px) {
  .promo-container {
    margin-top: 120px;
  }
}
