@import "./normalize";
@import "./fonts";
@import "./base";
@import "./variables";
@import "./media";

/*----HEADER----*/

.header {
  color: $main-font-color;
  font-family: $main-font-family;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
}

.logo {
  margin-left: 20px;
  flex-basis: 10%;
}

.nav-container {
  overflow: hidden;
  margin: auto;
}

.nav-mobile {
  text-align: right;
  margin-right: 20px;
}

.nav-tel-mobile {
  flex-basis: 70%;
  text-align: right;
}

.nav-tel-close {
  display: none;
}

.nav-icon {
  font-size: 1.375rem;
  color: $main-btn-color;
}

.nav-list {
  text-align: center;
  margin-right: 10%;
  margin-top: 30px;
}

.nav-item {
  margin-bottom: 15px;
  font-size: 0.875rem;
}

.nav-link {
  color: $main-font-color;
  font-weight: 500;
  text-decoration: underline;
}

.nav-tel,
.nav-tel-mobile {
  color: $main-font-color;
  font-weight: 700;
  font-size: 15px;
  margin-right: 20px;
  text-decoration: underline;
}

.nav-btn {
  font-size: 0.875rem;
  padding: 5px 15px;
  background-color: $main-btn-color;
  border-radius: 50px;
  color: $btn-font-color;
}

.nav-list-close {
  display: none;
}

.nav-close {
  margin: 0;
}

/*-----PROMO-----*/

.promo-container {
  color: $main-font-color;
  font-family: $main-font-family;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 85px;
}

.promo-box {
  margin: auto;
  max-width: 480px;
  margin-bottom: 50px;
}

/*
.promo-box:before {
  content: "";
  background: url(/images/dnipro.jpg) 0 0 no-repeat;
  background-position: top;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transform: translate(0, 55px);
}*/

.promo-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.promo-title b {
  font-weight: 700;
}

.promo-subtitle {
  margin: auto;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  color: #ee3b23;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.promo-subtitle b {
  font-weight: 700;
  text-transform: uppercase;
}

.promo-text {
  margin: auto;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
}

.callback-form {
  max-width: 90%;
  text-align: center;
  margin: auto;
}

.input-phone {
  width: 100%;
  padding: 18px 18px 13px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: left;
  animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(240, 121, 121, 0.85);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.input-label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;

}

.input-phone span {
  margin-right: 15px;
  margin-bottom: 0;
}

.input-phone span::before {
  content: "\2706";
  font-size: 32px;
}

.input-phone-number {
  background-color: transparent;
  border: none;
  width: 100%;
}

.input-phone-number:focus {
  outline-color: #ee3b23;
  padding: 10px;
  padding-left: 0;
}

.callback-btn {
  background-color: #ee3b23;
  transition: background-color 0.3s ease-in;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
  border: none;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 400;
  color: $btn-font-color;
  padding: 24px;
  width: 100%;
}

.promo-img img {
  width: 800px;
}

/*----SERVICE----*/

.service-container {
  color: $main-font-color;
  font-family: $main-font-family;
  margin: auto;
  max-width: 480px;
  margin-bottom: 85px;
}

.service-box {
  max-width: 90%;
  margin: auto;
  margin-bottom: 55px;
}

.service-box:last-child {
  margin-bottom: 0;
}

.service-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 45px;
}

.service-item {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.service-name {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}

.service-icon {
  flex: 0 0 10%;
  max-width: 45px;
  max-height: 30px;
  margin-right: 20px;
}

/*----CALCULATOR----*/

.calculator {
  color: $main-font-color;
  font-family: $main-font-family;
  max-width: 480px;
  margin: auto;
  margin-bottom: 80px;
}

.calc-title {
  font-size: 32px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.calc-subtitle {
  font-size: 20px;
  width: 90%;
  margin: auto;
  font-weight: 100;
  margin-bottom: 10px;
}

.calculator-contacts {
  max-width: 90%;
}

.calc-input,
.calc-choice {
  width: 100%;
  padding: 18px 18px 13px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  text-align: left;
}

.calc-choice {
  align-items: center;
  margin-bottom: 15px;
}

.choice-text {
  flex: 0 0 100%;
}

.choice-text select {
  width: 100%;
}

.calc-input {
  flex-direction: column;
  margin-bottom: 15px;
}

.choice-menu {
  margin-top: 8px;
}

.choice-menu select {
  width: 100%;
}

.calc-options {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.options-list {
  margin-top: 10px;
}

.options-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.options-title {
  font-weight: 100;
  color: rgb(153, 153, 153);
}

.options-box {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  text-align: center;
  margin-right: 10px;
  max-height: 53%;
}

.options-box:last-child {
  margin: 0;
}

.options-box span {
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
}

.options-box span b {
  color: #ee3b23;
}

.options-box span:last-child {
  margin-bottom: 0;
}

.adress-input {
  display: flex;
  padding: 18px 18px 13px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
}

.adress-input div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.adress-icon {
  width: 25px;
  height: 35px;
  margin-right: 15px;
}

.calc-choice-loader,
.calc-choice-rent,
.calc-choice-time,
.calc-choice-date,
.calc-input-description {
  width: 100%;
  padding: 18px 18px 13px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 15px;
  align-items: center;
}

.calc-choice-date,
.calc-input-description {
  flex-direction: column;
  align-items: flex-start;
}

.calc-choice-date input {
  width: 100%;
}

.calc-input-description {
  margin-bottom: 40px;
}

.form-btn {
  background-color: $main-btn-color;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
  color: $btn-font-color;
  font-size: 25px;
  font-weight: 100;
  border-radius: 8px;
  padding: 24px;
  line-height: 24px;
  height: 84px;
  border: none;
  outline: none;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 60px;
}

.social-box {
  width: 90%;
  text-align: center;
  margin: auto;
}

.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.social-link {
  width: 10%;
  margin-right: 20px;
}

.social-name {
  text-decoration: underline;
  color: $main-font-color;
}

.social-link:last-child {
  margin: 0;
}

select {
  cursor: pointer;
}

select:focus {
  outline-color: #ee3b23;
}

/*----POPUP----*/

.success {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  color: $main-font-color;
  font-family: $main-font-family;
  text-align: center;
}

.success.active {
  display: block;
}

.popup {
  position: absolute;
  width: 350px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

/*----STEPS----*/

.steps-wrapper {
  background-color: #f7f7f7;
  color: $main-font-color;
  font-family: $main-font-family;
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps-title {
  max-width: 480px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.steps-list {
  max-width: 480px;
  margin: auto;
  width: 90%;
}

.steps-item {
  margin-bottom: 30px;
  font-size: 17px;
  display: flex;
}

.steps-item:last-child {
  margin: 0;
}

.steps-number {
  background-color: $main-btn-color;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
  border-radius: 50%;
  color: $btn-font-color;
  margin-right: 30px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/*----LOYALTY----*/

.loyalty-wrapper {
  color: $main-font-color;
  font-family: $main-font-family;
  max-width: 480px;
  margin: auto;
}

.loyalty-title {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 32px;
  text-align: center;
}

.loyalty-list {
  width: 90%;
  margin: auto;
}

.loyalty-item {
  margin-bottom: 45px;
}

.loyalty-name {
  margin-bottom: 20px;
}

/*----FOOTER----*/

.footer {
  color: $main-font-color;
  font-family: $main-font-family;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.footer-tel {
  font-size: 27px;
  color: $main-font-color;
  font-weight: 700;
  border-top: 1px solid #a8a8a8;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.footer-btn {
  max-width: 60%;
  font-size: 18px;
  background-color: #ee3b23;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, 0.3);
  color: #fff;
  font-weight: 100;
  border-radius: 8px;
  padding: 24px;
  border: 0;
  outline: 0;
  color: $btn-font-color;
  margin: auto;
  margin-bottom: 20px;
}

.author {
  color: $main-font-color;
}

.author::before {
  content: "\00A9";
}
