.partners {
  background-image: url("/images/bg-space.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-wrap {
    max-width: 1150px;
    margin: auto;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 60px;
    background-color: $main-font-color;
    color: $second-font-color;
    padding: 20px 0;
    width: 100%;
  }

  &-slider {
      width: 90%;
      margin: auto;
  }
}

@media (min-width: 676px) {
  .partners {
    &-slider-img {
      margin: 0 15px;
    }
  }
}
