.steps {
  background-image: url("/images/promo-bg-test-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $second-font-color;
  padding: 70px 0;

  &-wrap {
    max-width: 1150px;
    margin: auto;
  }

  &-subtitle {
    font-size: 23px;
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;

  }

  &-title {
    position: relative;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    color: $main-font-color;

    &::before {
      content: "";
      width: 50px;
      height: 5px;
      background-color: $accent-color;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -15px;
    }
  }

  &-item {
    background-color: rgba(66, 66, 66, 0.8);;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
  }

  &-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
  }

  &-img {
    width: 30px;
    margin-right: 10px;
  }

  &-name {
    font-size: 18px;
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &-text {
    font-weight: 100;
  }

  &-subname {
    font-weight: 100;

    b {
      color: $accent-color;
      font-weight: 700;
    }
  }
}

@media (min-width: 676px) {
  .steps {
    &-box {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      width: 450px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }

    &-name {
      font-size: 20px;
    }
  }
}
