@import "./normalize";

/*---VARIABLES---*/
$main-font-color: #000000;
$second-font-color: #fff;
$accent-color: #f7551f;
$duration: 0.3s;

@import "./base";
@import "./promo";
@import "./about";
@import "./types";
@import "./steps";
@import "./slick";
@import "./slick-theme";
@import "./partners";
@import "./form";
@import "./contacts";
